.banner{
    color: white;
    background-image: linear-gradient(to right, rgb(0, 132, 255), darkblue);
    text-align: center;
    font-size: 32px;
    padding: 10px 0 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    width: 100vw;
}
#btn{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.safe{
    background-color: green;
    width: fit-content;
}
.warning{
    background-color: yellow;
    width: fit-content;
}
.danger{
    background-color: red;
    width: fit-content;
}
ul{
    list-style-type: none;
    width: 100%;
    padding: 0px;
    
    
}

li{
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;

}
